html, body {
  height: 100%;
}

body {
  background: #222831;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.flex #left {
  width: 35%;
  position: relative;
  left: 700px;
  background: #30475e;
}

.flex #left .logo {
  width: 100%;
  margin: 50px auto 10px;
}

.flex #left .logo a h1 {
  width: 100%;
  height: 80px;
  margin: 75px auto 25px;
  font-size: 80px;
  line-height: 80px;
  text-align: center;
  color: white;
}

.flex #left .video {
  width: 100%;
  height: 350px;
  text-align: center;
  margin-bottom: 50px;
}

.flex #left .video iframe {
  width: 500px;
  height: 281px;
  margin: 50px auto 20px;
}

.flex #left .video p {
  color: white;
}

.flex #left #btnh {
  width: 100%;
  margin-top: 200px;
  display: block;
}

.flex #left #btnh:hover {
  cursor: pointer;
  background: #486a8c;
}

.flex #left #btnh h2 {
  text-align: center;
  line-height: 60px;
  font-size: 36px;
  color: #ececec;
}

.flex #left .btnBox {
  position: fixed;
  width: 25%;
  margin-top: 0px;
}

.flex #left .btn {
  width: 100%;
  height: 60px;
  margin: 5px auto 0;
  display: none;
}

.flex #left .btn:hover {
  background: #486a8c;
}

.flex #left .btn h2 {
  text-align: center;
  line-height: 60px;
  font-size: 36px;
  color: #ececec;
}

.flex #right {
  width: 75%;
  height: 100%;
  position: static;
  background: #222831;
  opacity: 0%;
  display: none;
}

.flex #right .changeFlex {
  width: 1140px;
  margin: 100px 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex #right .changeFlex .upperBox {
  height: 500px;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
}

.flex #right .changeFlex .upperBox img {
  position: relative;
  top: -250px;
  left: -350px;
  width: 150%;
  cursor: pointer;
}

.flex #right .changeFlex .textBox {
  position: absolute;
  width: 30%;
  height: 100%;
  top: 0;
  left: 0;
  margin-left: 399px;
}

.flex #right .changeFlex .textBox h3 {
  width: 100%;
  margin-top: 340px;
  text-align: center;
  position: relative;
  font-size: 50px;
  color: white;
  background: rgba(15, 15, 15, 0.4);
}

.flex #right .changeFlex .textBox p {
  width: 100;
  text-align: center;
  margin: 0px;
  color: white;
  background: rgba(15, 15, 15, 0.4);
}

.flex #right .changeFlex .bottomBox {
  width: 1140px;
  margin-top: 30px;
  border-radius: 25px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.flex #right .changeFlex .bottomBox a {
  margin-right: 20px;
}

.flex #right .changeFlex .bottomBox img {
  cursor: pointer;
  width: 367px;
  height: 200px;
}

#mainContent-l {
  width: 25%;
  height: 640%;
  float: left;
  left: 700px;
  background: #30475e;
  display: none;
}

#mainContent-r {
  width: 75%;
  display: none;
  float: right;
}

.content, .content1, .content2, .content3, .content4 {
  display: none;
  opacity: 0;
}

.sec {
  width: 80%;
  margin: 0 auto;
  color: white;
  font-size: 100px;
  text-align: center;
  line-height: 1000px;
}

.content:first-child .section1 {
  height: 1000px;
  background: #6e1d1d;
}

.content:first-child .section2 {
  height: 1000px;
  background: #e09494;
}

.content:first-child .section3 {
  height: 1000px;
  background: #ba7070;
}

.content:first-child .section4 {
  height: 3000px;
  background: #e09494;
}

.content:nth-child(2) .section1 {
  height: 1000px;
  background: #274b6e;
}

.content:nth-child(2) .section2 {
  height: 1000px;
  background: #8ebeed;
}

.content:nth-child(2) .section3 {
  height: 1000px;
  background: #7cb4eb;
}

.content:nth-child(2) .section4 {
  height: 3000px;
  background: #8ebeed;
}

.content:nth-child(3) .section1 {
  height: 1000px;
  background: #144f1c;
}

.content:nth-child(3) .section2 {
  height: 1000px;
  background: #8cdb97;
}

.content:nth-child(3) .section3 {
  height: 1000px;
  background: #4ead5b;
}

.content:nth-child(3) .section4 {
  height: 3000px;
  background: #8cdb97;
}

.content:nth-child(4) .section1 {
  height: 1000px;
  background: #4f4e14;
}

.content:nth-child(4) .section2 {
  height: 1000px;
  background: #cfcd84;
}

.content:nth-child(4) .section3 {
  height: 1000px;
  background: #a8a659;
}

.content:nth-child(4) .section4 {
  height: 3000px;
  background: #cfcd84;
}
