doctype html
html
  head
    meta(charset='UTF-8')
    title 星伙聊原 | 帶你探索古代天文異象
    //- JS
    script(type="text/javascript", src="../odercards.js")
    script(type="text/javascript", src="../main.js")
    script(type="text/javascript", src="../manga0.js")
    script(type="text/javascript", src="../manga1.js")
    script(type="text/javascript", src="../manga2.js")
    script(type="text/javascript", src="../manga3.js")
    script(type="text/javascript", src="../move.js")
    //- CSS
    link(type="text/css", rel="stylesheet", href="../css/style.css")
    link(type="text/css", rel="stylesheet", href="../css/main.css")
    link(type="text/css", rel="stylesheet", href="../css/manga.css")
    link(type="text/css", rel="stylesheet", href="../css/solarsystem.css")
    //- cd
    //- pug -w ./ -o ./html -P
  body
    #None
      p 1.出現問題，請稍後再試。
        br
        | 2.建議使用電腦觀看，最佳解析度1600*900以上。
    #SideSolar.clearfix
      ul.solarsystem
        li.sun
          a(href='#sun')
            span Sun
        li.mercury
          a(href='#mercury')
            span Mercury
        li.venus
          a(href='#venus')
            span Venus
        li.earth
          a(href='#earth')
            span
              | Earth
              span.moon & Moon
        li.mars
          a(href='#mars')
            span Mars
        li.asteroids_meteorids
          span Asteroids & Meteorids
        li.jupiter
          a(href='#jupiter')
            span Jupiter
        li.saturn
          a(href='#saturn')
            span
              | Saturn & 
              span.ring Ring
        li.uranus
          a(href='#uranus')
            span Uranus
        li.neptune
          a(href='#neptune')
            span Neptune
        li.pluto
          a(href='#pluto')
            span Pluto
        //- li.test
        //-   span test
    #CM
      .cmBtn
    #Banner
      .logo
        img(src="../img/c-font3.png", alt="星伙聊原LOGO")
      #box.clearfix
        .theme
          .asd 天狗食日
          //- img(src="../img/c-t001.png", alt="")
          .cursor
        .theme
          .asd 熒惑守心
          //- img(src="../img/c-t002.png", alt="")
          .cursor
        .theme
          .asd 五星連珠
          //- img(src="../img/c-t003.png", alt="")
          .cursor
        .theme
          .asd 彗星襲月
          //- img(src="../img/c-t004.png", alt="")
          .cursor
    #BannerB


    //- 側邊滑動
    #Sidepoint
      .theme
        p 第一節: 天狗食日
      .theme
        p 第二節: 熒惑守心
      .theme
        p 第三節: 五星連珠
      .theme
        p 第四節: 彗星襲月


    //- 主內容頁
    #Main
      //- 第一節
      .content
        h1 第一節
        .sentence
          p.one ❝
          h3 十月之交，朔月辛卯，日有食之。
          p.two ❞
        img.sep(src="../img/sep.png", alt="")
        .textbar.t001
          .tri
          p 遠古時期
          p 人類發現到日蝕的現象
          p 有些人
            span 感到害怕
            |、有些人
            span 起身對抗
          p 也有人發揮想像力
          p 撰寫出精彩的
            span 傳說故事
          br
          p 在這裡，我們要帶您來看一則傳說故事
          p 究竟發生了什麼事才導致了「天狗食日」的事件
        .changeBox
          .back
            img(src="../img/back.png")
          .next
            img(src="../img/next.png")
          .bigView
            ul
              li
                img(src="../img/天狗/天狗P1.jpg", alt="")
              li
                img(src="../img/天狗/天狗P2.jpg", alt="")
              li
                img(src="../img/天狗/天狗P3.jpg", alt="")
              li
                img(src="../img/天狗/天狗P4.jpg", alt="")
              li
                img(src="../img/天狗/天狗P5.jpg", alt="")
              li
                img(src="../img/天狗/天狗P6.jpg", alt="")
              li
                img(src="../img/天狗/天狗P7.jpg", alt="")
              li
                img(src="../img/天狗/天狗P8.jpg", alt="")
              li
                img(src="../img/天狗/天狗P9.jpg", alt="")
              li
                img(src="../img/天狗/天狗P10.jpg", alt="")
              li
                img(src="../img/天狗/天狗P11.jpg", alt="")
        .textbar
          .tri
          h2 日食與天狗食日的關聯? 
          p 　　天狗是中國民間傳說中的一種動物。最早記載於《山海經》中，食日則是把太陽吃掉，因此在古時候天狗食日就是所謂的日食。
          p 　　而日食只是一種天文現象，但是以前的人卻很害怕。當它發生時，太陽好像被天狗慢慢地吃掉，而古人口中的天狗是后羿飼養的狗。因此認為發生天狗食日一定會有災難降臨。而他們也有一套驅邪方法，當日食出現人們就會敲鑼打鼓以及放鞭炮嚇走天狗，不過到了現在，由於科學知識普及以及網路發達，人們對於日食都已經瞭解許多。不再以偏見的眼光去看待它，而是大多以觀賞為目的。
        .textbar
          .tri
          h2 日蝕有哪些種類?
          p 　　日蝕可以分為三種，日全蝕、日環蝕、日偏食，當月球運行到太陽和地球中間，如果三者正好處在一條直線時，月球就會擋住太陽射向地球的光，月球身後的黑影正好落到地球上，這時就會發生日食現象。而發生的時間一定在朔月，即農曆初一當天。

          .showbox
            .btnSec
              .btn 日全蝕
              .btn 日環蝕
              .btn 日偏蝕
            .textSec
              p 　　太陽的直徑約是月球的400倍，而太陽和地球的距離大約也是月亮和地球的距離的400倍。所以月球落在地球表面的陰影，在剛好的距離可以遮住整個太陽。當日全食發生時才可以用肉眼觀察到模糊的日冕，而日全食只在月球靠近地球時發生，由於太陽體積比月球大很多，所以日全食通常只能在地球上一塊非常小的區域見到。 
              p 　　當月球遠離地球時，月球被太陽照射所產生的影子不能達到地球，到達地球的是由本影錐延長出的偽本影錐。月球的視直徑略小於太陽。因此，這時太陽邊緣的光球仍可見，形成環繞在月球陰影周圍的亮環。
              p 　　造成日偏食的原因是因為觀測者落在月球的半影區中，觀測者會看見一部分的太陽被月球的陰影遮蓋，但另一部分仍繼續發光。太陽和月球只有部分重合。
            .imgSec
        .textbar
          .tri
          h2 世界各地如何面對日蝕?




      //- 第二節
      .content
        h1 第二節
        .sentence
          p.one ❝
          h3 綏和二年春，熒惑守心
            //- br
            //- span -- 詩經
          p.two ❞
        img.sep(src="../img/sep.png", alt="")
        .textbar.t001
          .tri
          p 星星點燈
        .changeBox
          .back
            img(src="../img/back.png")
          .next
            img(src="../img/next.png")
          .bigView
            ul
              li
                img(src="../img/熒惑/熒惑守心P1.jpg", alt="")
              li
                img(src="../img/熒惑/熒惑守心P2.jpg", alt="")
              li
                img(src="../img/熒惑/熒惑守心P3.jpg", alt="")
              li
                img(src="../img/熒惑/熒惑守心P4.jpg", alt="")
              li
                img(src="../img/熒惑/熒惑守心P5.jpg", alt="")
              li
                img(src="../img/熒惑/熒惑守心P6.jpg", alt="")
              li
                img(src="../img/熒惑/熒惑守心P7.jpg", alt="")
              li
                img(src="../img/熒惑/熒惑守心P8.jpg", alt="")
              li
                img(src="../img/熒惑/熒惑守心P9.jpg", alt="")
              li
                img(src="../img/熒惑/熒惑守心P10.jpg", alt="")
              li
                img(src="../img/熒惑/熒惑守心P11.jpg", alt="")


        .textbar
          .tri
          h2 火星為什麼被認為是「災星」?
          p 　　古代占星家發現，天上有一顆星
            span 位置不定
            |(因為是行星)而且
            span 亮度時常變化
            |，因此稱它為「熒惑」，也因為這個現象被認為是殘、疾、喪、飢、兵的象徵。
        .textbar
          .tri
          h2 熒惑守心的「守」是什麼意思?
          p 　　在行星逆行的過程中，會有兩次改變方向，分別是順行轉逆行和逆行轉順行，在地球的角度上觀看時會發現行星好像停留在天空的同個地方。
          p 　　如果這時候又有其他重要的星體，像是本章節的心宿二，看起來就像是在防守著這顆星體，所以稱為「守」。
        .textbar
          .tri
          h2 熒惑守心的「心」是什麼意思?
          p 　　與紫微宮的計算方式有關，天蠍座內的心宿一、心宿二、心宿三分別代表太子、皇帝、庶子，所以當熒惑跑到代表皇帝的心宿二駐足不前時，他們就認為有不祥之事發生。
        .textbar
          .tri
          h2 歷史上的熒惑守心?
          p 　　熒惑守心在人類歷史上已經發生了數十次，但由於地域的限制導致一生可能只會看到一次。雖然有很多記載，但卻不一定真實發生，可能是誤認木星為火星、或認錯心宿、誤植等等，下方整理出一些錯誤的記載現象。



      //- 第三節
      .content
        h1 第三節
        .sentence
          p.one ❝
          h3 五星累累如貫珠，炳炳若連璧
          p.two ❞
        img.sep(src="../img/sep.png", alt="")
        .textbar.t001
        .changeBox
          .back
            img(src="../img/back.png")
          .next
            img(src="../img/next.png")
          .bigView
            ul
              li
                img(src="../img/5星/五星連珠P1.jpg", alt="")
              li
                img(src="../img/5星/五星連珠P2.jpg", alt="")
              li
                img(src="../img/5星/五星連珠P3.jpg", alt="")
              li
                img(src="../img/5星/五星連珠P4.jpg", alt="")
              li
                img(src="../img/5星/五星連珠P5.jpg", alt="")
              li
                img(src="../img/5星/五星連珠P6.jpg", alt="")
              li
                img(src="../img/5星/五星連珠P7.jpg", alt="")
              li
                img(src="../img/5星/五星連珠P8.jpg", alt="")
              li
                img(src="../img/5星/五星連珠P9.jpg", alt="")

        .textbar
          .tri
          h2 五星連珠是哪五顆行星?
          p 　　五星連珠其實可以是任意五顆行星，只要在視覺上排成一列即可。不過在古代望遠科技還不發達的時候，這五顆代表的是肉眼可清楚觀察到的水星、金星、火星、木星、土星。
        .textbar
          .tri
          h2 對地球的影響?
          p 　　古代人認為五星連珠是大吉之兆，而有些人則認為五星連珠會對地球的潮汐造成影響。
          p 　　其實完全沒有影響，五星連珠只是行星剛好在那個特定位置，每個行星對地球的重力因為距離關係，可以說是微乎其微，所以只要帶著觀賞的態度去面對就好囉。
        .textbar
          .tri
          h2 要怎麼觀看五星連珠?
          p 　　這裡要破解一下迷思，五星連珠其實不是五顆行星排成一列，而是在肉眼觀察視角中排成一列即可。
          p 　　以包含水星、金星的連珠來舉例，因為它們的運行軌道更接近太陽，所以只要是地球的晚上都無法看見它們的身影。因此，最佳的觀看時間是清晨或傍晚，這時候的天空還不會太亮，同時能觀察到所有行星軌道。




      //- 第四節
      .content
        h1 第四節
        .sentence
          p.one ❝
          h3 秋七月，有星孛入於北斗
          p.two ❞
        img.sep(src="../img/sep.png", alt="")
        .textbar.t001
        .changeBox
          .back
            img(src="../img/back.png")
          .next
            img(src="../img/next.png")
          .bigView
            ul
              li
                img(src="../img/彗星/彗星P1.jpg", alt="")
              li
                img(src="../img/彗星/彗星P2.jpg", alt="")
              li
                img(src="../img/彗星/彗星P3.jpg", alt="")
              li
                img(src="../img/彗星/彗星P4.jpg", alt="")
              li
                img(src="../img/彗星/彗星P5.jpg", alt="")
              li
                img(src="../img/彗星/彗星P6.jpg", alt="")
              li
                img(src="../img/彗星/彗星P7.jpg", alt="")
              li
                img(src="../img/彗星/彗星P8.jpg", alt="")
              li
                img(src="../img/彗星/彗星P9.jpg", alt="")
              li
                img(src="../img/彗星/彗星P10.jpg", alt="")
              li
                img(src="../img/彗星/彗星P11.jpg", alt="")
              li
                img(src="../img/彗星/彗星P12.jpg", alt="")
              li
                img(src="../img/彗星/彗星P13.jpg", alt="")
              li
                img(src="../img/彗星/彗星P14.jpg", alt="")
        .textbar
          .tri
          h2 彗星大發現！
          p 　　彗星一直以來都是很奇特的天文現象，有哪個星體跟它一樣帶著尾巴呢！
        .textbar
          .tri
          h2 羅賽塔號Rosetta & 菲萊登陸器Philae
          p
          p
        .textbar
          .tri
          h2 彗星是如何招黑的?
          p 
        .textbar
          .tri
          h2 古代過客的紀錄
          p 從春秋時代，人們就發現彗星了。
          .ref 《春秋》魯文公十四年「秋七月，有星孛入於北斗。」
          p 而X朝XXX所編寫的《晉書·天文志》更是對彗星有更詳細的描述。
          .ref 《晉書·天文志》「彗星所謂掃星，本類星，末類彗，小者數寸，長或經天。彗星本無光，傅日而為光，故夕見則東指，晨見則西指。在日南北皆隨日光而指，頓挫其芒，或長或短。」
          p 從這些紀錄來看，彗星從原本掃把星的不祥之物，逐漸有更多的認識，掃去自身不吉利的觀念。





    #Footer
