doctype html
html
  head
    meta(charset='UTF-8')
    title 星伙聊原 | 帶你探索古代天文異象
    script(type="text/javascript", src="../odercards.js")
    script(type="text/javascript", src="../main.js")
    script(type="text/javascript", src="../manga0.js")
    script(type="text/javascript", src="../manga1.js")
    script(type="text/javascript", src="../manga2.js")
    script(type="text/javascript", src="../manga3.js")
    script(type="text/javascript", src="../move.js")
    link(type="text/css", rel="stylesheet", href="../css/style.css")
    link(type="text/css", rel="stylesheet", href="../css/manga.css")
    link(type="text/css", rel="stylesheet", href="../css/solarsystem.css")
    //- cd
    //- pug -w ./ -o ./html -P
  body
    #None
      p 1.出現問題，請稍後再試。
        br
        | 2.建議使用電腦觀看，最佳解析度1600*900以上。
    #SideSolar.clearfix
      ul.solarsystem
        li.sun
          a(href='#sun')
            span Sun
        li.mercury
          a(href='#mercury')
            span Mercury
        li.venus
          a(href='#venus')
            span Venus
        li.earth
          a(href='#earth')
            span
              | Earth
              span.moon & Moon
        li.mars
          a(href='#mars')
            span Mars
        li.asteroids_meteorids
          span Asteroids & Meteorids
        li.jupiter
          a(href='#jupiter')
            span Jupiter
        li.saturn
          a(href='#saturn')
            span
              | Saturn & 
              span.ring Ring
        li.uranus
          a(href='#uranus')
            span Uranus
        li.neptune
          a(href='#neptune')
            span Neptune
        li.pluto
          a(href='#pluto')
            span Pluto
        //- li.test
        //-   span test
    #CM
      .cmBtn
    #Banner
      .logo
        img(src="../img/c-font.png", alt="星伙聊原LOGO")
      #box.clearfix
        .theme
          img(src="../img/c-t001.png", alt="")
          .cursor
        .theme
          img(src="../img/c-t002.png", alt="")
          .cursor
        .theme
          img(src="../img/c-t003.png", alt="")
          .cursor
        .theme
          img(src="../img/c-t004.png", alt="")
          .cursor
    #BannerB
    #Sidepoint
      .theme
        p 第一節: 天狗食日
      .theme
        p 第二節: 熒惑守心
      .theme
        p 第三節: 五星連珠
      .theme
        p 第四節: 彗星襲月
    #Main
      .content
        h2 第一節
        
        .changeBox
          .back
            img(src="../img/back.png")
          .next
            img(src="../img/next.png")
          .bigView
            ul
              li
                img(src="../img/Sun_0.jpg", alt="")
              li
                img(src="../img/Sun_1.jpg", alt="")
              li
                img(src="../img/Sun_0.jpg", alt="")
              li
                img(src="../img/Sun_1.jpg", alt="")
              li
                img(src="../img/Sun_0.jpg", alt="")
              li
                img(src="../img/Sun_1.jpg", alt="")

      .content
        h2 第二節
        .changeBox
          .back
            img(src="../img/back.png")
          .next
            img(src="../img/next.png")
          .bigView
            ul
              li
                img(src="../img/Sun_0.jpg", alt="")
              li
                img(src="../img/Sun_1.jpg", alt="")
              li
                img(src="../img/Sun_0.jpg", alt="")
              li
                img(src="../img/Sun_1.jpg", alt="")
              li
                img(src="../img/Sun_0.jpg", alt="")
              li
                img(src="../img/Sun_1.jpg", alt="")
      .content
        h2 第三節
        .changeBox
          .back
            img(src="../img/back.png")
          .next
            img(src="../img/next.png")
          .bigView
            ul
              li
                img(src="../img/Sun_0.jpg", alt="")
              li
                img(src="../img/Sun_1.jpg", alt="")
              li
                img(src="../img/Sun_0.jpg", alt="")
              li
                img(src="../img/Sun_1.jpg", alt="")
              li
                img(src="../img/Sun_0.jpg", alt="")
              li
                img(src="../img/Sun_1.jpg", alt="")
      .content
        h2 第四節
        .changeBox
          .back
            img(src="../img/back.png")
          .next
            img(src="../img/next.png")
          .bigView
            ul
              li
                img(src="../img/Sun_0.jpg", alt="")
              li
                img(src="../img/Sun_1.jpg", alt="")
              li
                img(src="../img/Sun_0.jpg", alt="")
              li
                img(src="../img/Sun_1.jpg", alt="")
              li
                img(src="../img/Sun_0.jpg", alt="")
              li
                img(src="../img/Sun_1.jpg", alt="")
    #Footer
